<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<div class="alert alert-success" role="alert">

		{% if name %}
			<h4 class="alert-heading">Hello, {{ name }}!</h4>
		{% else %}
			<h4 class="alert-heading">Hello, Anonim!</h4>
		{% endif %}
 
  		<p>Glad to see you on our site!</p>
  		<hr>
  		<p class="mb-0">Soon there will be content!</p>
	</div>
</body>
</html>